
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #e69b55;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}


.post-job-btn {
    background-color: #ffcc00;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.post-job-btn:hover {
    background-color: #e6b800;
}


.search-container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-container input {
    width: 250px;
    padding: 10px;
    border: 2px solid #e69b55;
    border-radius: 5px;
    font-size: 16px;
}

.search-btn {
    background-color: #e69b55;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.search-btn:hover {
    background-color: #e69b55;
}


#content {
    margin-top: 20px;
    font-size: 20px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
   
    
    
}


img {
    width: 60%;
    max-width: 1000px;
    border-radius: 10px;
    margin-top: 10px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
